body, html, #root {
  width: 100%;
  height: 100%;
}


body {
  margin: 8px;
}

h1 {
  font-size: 12px;
}

.app {
  text-align: center;
}

.content {
  margin: 1em 6em;
  background-color: rgb(246, 246, 240);
  height: 100%;
}

.content header {
  background-color: rgb(238, 111, 45);
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content header .lhs {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content .posts .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em 1em;
}

.content .posts .link .number {
  margin-right: 0.5em;
}

.content .posts .link .title {
  font-size: 12px;
}

.content .posts .link .name {
  font-size: 10px;
}